.App {
  text-align: center;
  background-color: rgb(19, 19, 190);
  min-width: 100vh;
  
}
.main{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 8px;
  justify-content: center;
}

.movie{
  color: rgb(212, 55, 55);
  background-color: rgb(102, 211, 175);
  justify-content: center;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
}
